<div class="gs_item">
  <img src="/images/dream.png">
  <div class="title slider_title">Некий пояснительный текст 01</div>
</div>
<div class="gs_item">
  <img src="/images/menu_item.jpg">
  <div class="title slider_title">Некий пояснительный текст 02</div>
</div>
<div class="gs_item">
  <img src="/images/promo.jpg">
  <div class="title slider_title">Некий пояснительный текст 03</div>
</div>
<div class="gs_item">
  <img src="/images/socials.png">
  <div class="title slider_title">Некий пояснительный текст 04</div>
</div>