/* COMMON ELEMENTS */

// lists, headers, paragraphs and body without standard margin and padding
ul, li, h1, h2, p, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

// lists without circles
li {
  list-style: none;
}

// anchors without underline
// inherit parent color
a {
  text-decoration: none;
  color: inherit;
}

// inputs without border and outline
input {
  border: none;
  outline: none;
  // don't show checkboxes
  &[type=checkbox] {
    display: none;
  }
  // show spinner on type number input (webkit browsers)
  &[type=number]::-webkit-inner-spin-button, 
  &[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
  }
}

// footer
footer {
  height: 100px;
  background: $mine-shaft;
}

// any section
section {
  @extend .overflown-auto;
}

// header 2 lvl
h2 {
  @extend .merel-regular;
  font-size: $fs-xlarge;
  line-height: $fs-xlarge;
  margin: 50px 0 40px;
  text-transform: uppercase;
}


/* COMMON CLASSES */

// overflow auto box
.overflown-auto {
  overflow: auto;
}

// wrapper centering the content
.wrapper {
  width: 900px;
  margin: 0 auto;
}

// site logo
.logo {
  display: block;
  width: 170px;
  margin: 40px auto;
}

.sent {
  font-size: $fs-xlarge;
  margin: 40px 0;
}