// lists, headers, paragraphs and body without standard margin and padding
ul, li, h1, h2, p, body {
  margin: 0;
  padding: 0;
}

// style lists without circles
li {
  list-style: none;
}

// anchors without underline
// inherit parent color
a {
  text-decoration: none;
  color: inherit;
}

// inputs without border and outline
input {
  border: none;
  outline: none;
  // don't show checkboxes
  &[type=checkbox] {
    display: none;
  }
  // show spinner on type number input (webkit browsers)
  &[type=number]::-webkit-inner-spin-button, 
  &[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
  }
}
