/* Merel Light */
@font-face { 
    font-family: Merel;
    src: url('/fonts/Merel/Merel-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Merel/Merel-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/Merel/Merel-Light.otf') format('opentype'), /* Almost like ttf */
        url('/fonts/Merel/Merel-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/Merel/Merel-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Merel/Merel-Light.svg#Merel-Light') format('svg'); /* Legacy iOS */
    font-weight: 300; 
}
/* Merel Regular */
@font-face { 
    font-family: Merel;
    src: url('/fonts/Merel/Merel.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Merel/Merel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/Merel/Merel.otf') format('opentype'), /* Almost like ttf */
        url('/fonts/Merel/Merel.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/Merel/Merel.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Merel/Merel.svg#Merel') format('svg'); /* Legacy iOS */
    font-weight: 400; 
}
/* Merel Bold */
@font-face { 
    font-family: Merel;
    src: url('/fonts/Merel/Merel-Bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Merel/Merel-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/Merel/Merel-Bold.otf') format('opentype'), /* Almost like ttf */
        url('/fonts/Merel/Merel-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/Merel/Merel-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Merel/Merel-Bold.svg#Merel-Bold') format('svg'); /* Legacy iOS */
    font-weight: 700; 
}
/* LeksaPro Light */
@font-face { 
    font-family: LeksaPro;
    src: url('/fonts/LeksaPro/LeksaPro-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LeksaPro/LeksaPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/LeksaPro/LeksaPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/LeksaPro/LeksaPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/LeksaPro/LeksaPro-Light.svg#LeksaPro-Light') format('svg'); /* Legacy iOS */
    font-weight: 300; 
}
/* LeksaPro Italic */
@font-face { 
    font-family: LeksaPro;
    src: url('/fonts/LeksaPro/LeksaPro-Italic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LeksaPro/LeksaPro-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/LeksaPro/LeksaPro-Italic.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/LeksaPro/LeksaPro-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/LeksaPro/LeksaPro-Italic.svg#LeksaPro-Italic') format('svg'); /* Legacy iOS */
    font-style: italic; 
}
/* PremianSerif Regular*/
@font-face { 
    font-family: PermianSerifTypeface;
    src: url('/fonts/PermianSerifTypeface/PermianSerifTypeface.eot'); /* IE9 Compat Modes */
    src: url('/fonts/PermianSerifTypeface/PermianSerifTypeface.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/PermianSerifTypeface/PermianSerifTypeface.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/PermianSerifTypeface/PermianSerifTypeface.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/PermianSerifTypeface/PermianSerifTypeface.svg#PermianSerifTypeface') format('svg'); /* Legacy iOS */
    font-weight: 400; 
}

// fonts classes
.merel-light {
    font-family: Merel;
    font-weight: 300;
}
.merel-regular {
    font-family: Merel;
    font-weight: 400;
}
.merel-bold {
    font-family: Merel;
    font-weight: 700;
}
.leksapro-light {
    font-family: LeksaPro;
    font-weight: 300;
}
.leksapro-light-small {
    @extend .leksapro-light;
    font-size: $fs-small;
}
.leksapro-italic {
    font-family: LeksaPro;
    font-style: italic;
}
.leksapro-italic-large {
    @extend .leksapro-italic;
    font-size: $fs-large;
}
.permianserif-regular {
    font-family: PermianSerifTypeface;
    font-weight: 400;
}