@mixin flexbox() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin flex($values) {
  -webkit-box-flex: $values; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex:  $values; /* OLD - Firefox 19- */
  -webkit-flex:  $values; /* Chrome */
  -ms-flex:  $values; /* IE 10 */
  flex:  $values; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin flex-justify($justify-type) {
  -webkit-justify-content: $justify-type; 
  justify-content: $justify-type; 
}
@mixin flex-wrap($wrap_type) {
  -webkit-flex-wrap: $wrap_type; /* Safari 6.1+ */
  flex-wrap: $wrap_type;
}

$nav-text-color: #353535;
$nav-text-color-hover: #3BBFA5;
$stroke-color: #686868;
$button-text-color: #444444;
$button-hover-text-color: #4D4D4D;
$button-hover-bg-color: #B4EEDE;
$footer-bg: #333333;
$footer-li-color: #808080;
$footer-li-hover-color: #A8CCC8;