@mixin flexbox() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin flex($values) {
  -webkit-box-flex: $values; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex:  $values; /* OLD - Firefox 19- */
  -webkit-flex:  $values; /* Chrome */
  -ms-flex:  $values; /* IE 10 */
  flex:  $values; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin flex-justify($justify-type) {
  -webkit-justify-content: $justify-type; 
  justify-content: $justify-type; 
}
@mixin flex-wrap($wrap_type) {
  -webkit-flex-wrap: $wrap_type; /* Safari 6.1+ */
  flex-wrap: $wrap_type;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin gradient-bg($from_color, $to_color, $url) {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from_color), to($to_color)), $url;
  background-image: -webkit-linear-gradient($from_color, $to_color), $url;
  background-image: -moz-linear-gradient($from_color, $to_color), $url;
  background-image: -o-linear-gradient($from_color, $to_color), $url;
  background-image: linear-gradient($from_color, $to_color), $url,
}
@mixin transform-style($style) {
  -webkit-transform-style: $style;
  -moz-transform-style: $style;
  transform-style: $style;
}
@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}
@mixin backface-visibility($type) {
  -webkit-backface-visibility: $type;
  -moz-backface-visibility: $type;
  backface-visibility: $type;
}
@mixin perspective($value) {
  -webkit-perspective: $value;
  -moz-perspective: $value;
  perspective: $value;
}
@mixin transform($params) {
  -webkit-transform: $params;
  -moz-transform: $params;
  -o-transform: $params;
  -ms-transform: $params;
  transform: $params;
}

// vertically aligns block in a block
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// aligns flexbox elements
// usefull when it's necessary to vertically align inline blocks (flexbox items) 
// but the height of each element will fit the size of inner text
@mixin flex-vertical-align($position) {
  -ms-flex-align: $position;
	-webkit-align-items: $position;
	-webkit-box-align: $position;
	align-items: $position;
}

// vertically aligns text in a block
@mixin col-vertical-align() {
  @extend flexbox();
  @extend flex-direction(column);
  @extend flex-justify(center);
}