/* bxslider */
.gallery_slider {
  position: static !important;
  height: 100%;
  .gs_item {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    float: none !important;
    position: static !important;
    .slider_title {
      position: absolute;
      bottom: 0;
      width: 895px;
      height: 65px;
      line-height: 65px;
      background: rgba(black, 0.5);
      color: white;
      text-align: center;
    }
    img {
      margin: auto;
      max-height: 515px;
      width: auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.bx-wrapper {
  .bx-viewport {
    width: 99% !important;
    height: 515px !important;
    margin: 0 auto !important;
    left: 0 !important;
    border: none !important;
    box-sizing: border-box;
  }
}