// colors
$dove-grey: #686868;
$tundora: #444444;
$cruise: #B0EADA;
$mine-shaft: #353535;
$puerto-rico: #3BBFA5;
$grey: #808080;
$jet-stream: #A8CCC8;

// fonts
$fs-small:   15px;
$fs-medium:  18px;
$fs-large:   20px;
$fs-xlarge:  24px;
$fs-xxlarge: 30px;
$fs-h1:      40px;
$fs-price:   53px;