$dove-grey: #686868;
$tundora: #444444;
$cruise: #B0EADA;

$nav-text-color: #353535;
$nav-text-color-hover: #3BBFA5;
$button-hover-bg-color: #B4EEDE;
$footer-bg: #333333;
$footer-li-color: #808080;
$footer-li-hover-color: #A8CCC8;
$radio-checked: #C2F0E1;