$nav-text-color: #353535;
$nav-text-color-hover: #3BBFA5;
$stroke-color: #686868;
$button-text-color: #444444;
$button-hover-text-color: #4D4D4D;
$button-hover-bg-color: #B4EEDE;
$footer-bg: #333333;
$footer-li-color: #808080;
$footer-li-hover-color: #A8CCC8;