<!DOCTYPE html>
<html ng-app="tomaTort">
	<head>
		<meta charset="utf-8">
		<title>Tomatort</title>
		
		<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/lib/jquery.bxslider.css" type="text/css" />
		
		<script src="js/lib/jquery/jquery.min.js"></script>
		<script src="js/lib/jquery/jquery.bxslider.min.js"></script>
		
		<script src="js/lib/angularjs/angular.min.js"></script>
		<script src="js/lib/angularjs/angular-route.min.js"></script>
		<script src="js/lib/angularjs/angular-resource.min.js"></script>
		<script>
			/* global angular */
			angular.module("tomaTort", ["ngRoute"])
			.config(function ($routeProvider) {
				
				$routeProvider.when("/home", {
					templateUrl: "/views/home.html"
				});
				
				$routeProvider.when("/menu", {
					templateUrl: "/views/menu.html"
				});
				
				$routeProvider.when("/menu/:id", {
					templateUrl: "/views/productItem.html"
				});
				
				$routeProvider.when("/gallery", {
					templateUrl: "/views/gallery.html"
				});
				
				$routeProvider.when("/contacts", {
					templateUrl: "/views/contacts.html"
				});
				
				$routeProvider.when("/checkout", {
					templateUrl: "/views/checkout.html"
				});
				
				$routeProvider.when("/placeorder", {
					templateUrl: "/views/placeOrder.html"
				});
				
				$routeProvider.when("/dreamdessert", {
					templateUrl: "/views/dreamDessert.html"
				});
				
				$routeProvider.otherwise({
					templateUrl: "views/home.html"
				});
			})
			// only for development, remove in production (view cache)
			.run(function($rootScope, $templateCache) {
    		$rootScope.$on('$routeChangeStart', function(event, next, current) {
        	if (typeof(current) !== 'undefined'){
            $templateCache.remove(current.templateUrl);
        	}
    		});
				
			});
		</script>
		<script src="js/angularjs/controllers/genericControllers.js"></script>
		<script src="js/angularjs/components/cart.js"></script>
	</head>
	
	<body ng-controller="tomaTortCtrl">
		<header class="wrapper">
			<div class="overflown-auto">
				<a href="#" class="logo"><img src="/images/logo.png"></a>
			</div>

			<nav id="nav-top" ng-controller="menuCtrl">
				<ul class="fxbx fx-js-sp-between fx-wr-wrap">
					<li ng-click="selectMenuItem('/about')" 
							ng-class="getMenuClass('/about')">
						<a href="#/about">О нас</a>
					</li>
					<li ng-click="selectMenuItem('/menu')" 
							ng-class="getMenuClass('/menu')">
						<a href="#/menu">Меню</a>
					</li>
					<li ng-click="selectMenuItem('/gallery')" 
							ng-class="getMenuClass('/gallery')">
						<a href="#/gallery">Галерея</a>
					</li>
					<li ng-click="selectMenuItem('/contacts')" 
							ng-class="getMenuClass('/contacts')">
						<a href="#/contacts">Доставка и оплата</a>
					</li>
					<li ng-click="selectMenuItem('/checkout')" 
							ng-class="getMenuClass('/checkout')">
						<a href="#/checkout">Корзина <cart-summary /></a>
					</li>
				</ul>
			</nav>
		</header>
		
		<main class="wrapper">
			<ng-view autoscroll="true"/>
		</main>
		
		<footer class="overflown-auto">
			<nav id="nav-bottom" ng-controller="menuCtrl">
				<ul class="fxbx fx-js-sp-between fx-wr-wrap">
					<li ng-click="selectMenuItem('/about')">
						<a href="#/about">О нас</a>
					</li>
					<li ng-click="selectMenuItem('/menu')">
						<a href="#/menu">Меню</a>
					</li>
					<li ng-click="selectMenuItem('/gallery')">
						<a href="#/gallery">Галерея</a>
					</li>
					<li ng-click="selectMenuItem('/contacts')">
						<a href="#/contacts">Доставка и оплата</a>
					</li>
					<li ng-click="selectMenuItem('/contacts')">
						<a href="#/contacts">Instagram</a>
					</li>
				</ul>
			</nav>
		</footer>
	</body>
</html>