<!DOCTYPE html>
<html ng-app="tomaTort">
	<head>
		<meta charset="utf-8">
		<title>Tomatort</title>
		
		<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
		<link rel="stylesheet" href="stylesheets/lib/jquery.bxslider.css" type="text/css" />
		
		<script src="js/lib/jquery/jquery.min.js"></script>
		<script src="js/lib/jquery/jquery.bxslider.min.js"></script>
		
		<script src="js/lib/angularjs/angular.min.js"></script>
		<script src="js/lib/angularjs/angular-route.min.js"></script>
		<script src="js/lib/angularjs/angular-resource.min.js"></script>
		<script>
			/* global angular */
			angular.module("tomaTort", ["ngRoute"])
			.config(function ($routeProvider) {
				
				$routeProvider.when("/home", {
					templateUrl: "/views/home.html"
				});
				
				$routeProvider.when("/menu", {
					templateUrl: "/views/menu.html"
				});
				
				$routeProvider.when("/gallery", {
					templateUrl: "/views/gallery.html"
				});
				
				$routeProvider.when("/contacts", {
					templateUrl: "/views/contacts.html"
				});
				
				$routeProvider.when("/checkout", {
					templateUrl: "/views/checkout.html"
				});
				
				$routeProvider.otherwise({
					templateUrl: "views/home.html"
				});
			})
			// only for development, remove in production
			.run(function($rootScope, $templateCache) {
    		$rootScope.$on('$routeChangeStart', function(event, next, current) {
        	if (typeof(current) !== 'undefined'){
            $templateCache.remove(current.templateUrl);
        	}
    		});
			});
		</script>
		<script src="js/angularjs/controllers/genericControllers.js"></script>
		<script src="js/angularjs/components/cart.js"></script>
	</head>
	
	<body ng-controller="tomaTortCtrl">
		<header class="wrapper">
			<!--Logo-->
			<div class="logo">
				<a href="/"><img src="images/logo.png"></a>
			</div>

			<!--Top Navbar-->
			<nav class="top_menu" ng-controller="menuCtrl">
				<ul>
					<a href="#">
						<li ng-click="selectMenuItem('')" 
								ng-class="getMenuClass('')">Главная</li>
					</a>
					<a href="#/menu">
						<li id="m_menu" ng-click="selectMenuItem('/menu')" 
								ng-class="getMenuClass('/menu')">Меню</li>
					</a>
					<a href="#/gallery">
						<li ng-click="selectMenuItem('/gallery')" 
								ng-class="getMenuClass('/gallery')">Галерея</li>
					</a>
					<a href="#/contacts">
						<li ng-click="selectMenuItem('/contacts')" 
								ng-class="getMenuClass('/contacts')">Контакты</li>
					</a>
					<a href="#/checkout">
						<li ng-click="selectMenuItem('/checkout')" 
								ng-class="getMenuClass('/checkout')">Корзина <cart-summary /></li>
					</a>
				</ul>
			</nav>
		</header>
		
		<main class="wrapper">
			<ng-view autoscroll="true"/>
		</main>
		
		<footer>
			<!--Navbar-->
			<nav class="bottom_menu" ng-controller="menuCtrl">
				<ul>
					<a href="#"><li ng-click="selectMenuItem('')">Главная</li></a>
					<a href="#/menu"><li ng-click="selectMenuItem('/menu')">Меню</li></a>
					<a href="#/gallery"><li ng-click="selectMenuItem('/gallery')">Галерея</li></a>
					<a href="#/contacts"><li ng-click="selectMenuItem('/contacts')">Контакты</li></a>
				</ul>
			</nav>

			<!--Social networks-->
			<div class="socials fxbx_block fxbx_sp_between">
				<div class="social fb"></div>
				<div class="social inst"></div>
				<div class="social vk"></div>
			</div>
		</footer>
	</body>
</html>