<section class="sec-lr-padded">
  <h2>О нас</h2>
  <p>
    Всем привет! Меня зовут Тома и я очень люблю печь сладости. 
    Однажды мне в голову пришла мысль делать тортики на заказ, 
    но тогда я еще не знала, что это хобби перерастет во что-то более серьезное.
    И вот теперь у меня есть этот сайт и вы – мои дорогие сладкоежки! 
    Для меня главное удовольствие — радовать вас и получать отдачу 
    в виде благодарностей, улыбок и ваших положительных отзывов. 
    Спасибо за то, что помогаете мне расти, а я, в свою очередь, 
    обещаю делать вашу жизнь слаще! С любовью, Тома
  </p>
  <img src="/images/circle.png" style="width: 80%; margin: 40px auto;">
</section>