<section id="checkout" ng-controller="checkoutCtrl">
  <table id="checkout-table">
    <thead>
      <tr>
        <th colspan="3">Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in cartData">
        <td class="td-img"><img ng-src="{{item.imageUrl}}" class="img-cover"></td>
        <td colspan="2">
          {{item.name}}
        </td>
        <td class="td-price">{{item.kgPrice}} руб / кг</td>
        <td class="td-count"><input type="number" name="count" 
          ng-model="cartData[$index].count" ng-value="{{item.count}}"></td>
        <td class="td-subtotal">{{(item.kgPrice * item.count)}} Р</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="td-del-type">
          <input type="radio" name="deliveryType" value="selfPickup" 
            ng-model="data.shipping.deliveryType" id="selfPickup">
          <label for="selfPickup">Самовывоз</label>
          <input type="radio" name="deliveryType" value="delivery" 
            ng-model="data.shipping.deliveryType" id="delivery">
          <label for="delivery">Доставка</label>
        </td>
        <td class="td-total-txt" colspan="3">Итого:</td>
        <td class="td-total">{{total()}} Р</td>
      </tr>
    </tfoot>
  </table>
  <a href="#/placeorder" class="btn btn-dark bottom-margined">Оформить заказ</a>
</section>