<section id="checkout" ng-controller="checkoutCtrl">
  <table id="checkout-table">
    <thead>
      <tr>
        <th colspan="3">Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in cartData">
        <td class="td-img"><img ng-src="{{item.imageUrl}}" class="img-cover"></td>
        <td colspan="2" class="td-name">
          {{item.name}}<br>
          {{item.set != 'индивидуально' ? '(' + item.set + ')' : ''}}
        </td>
        <td class="td-price" ng-hide="item.set=='индивидуально'">
          {{item.price}} руб
        </td>
        <td class="td-count" ng-hide="item.set=='индивидуально'">
          <input type="number" name="count" min="{{item.set=='кг' ? 2 : 1}}"
            ng-model="cartData[$index].count" ng-value="{{item.count}}">
        </td>
        <td class="td-subtotal" ng-hide="item.set=='индивидуально'">
          {{(item.price * item.count)}} руб
        </td>
        <td ng-show="item.set=='индивидуально'" colspan="3">Индивидуально</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="td-del-type">
          <input type="radio" name="deliveryType" value="Самовывоз" 
            ng-model="data.shipping.deliveryType" id="selfPickup">
          <label for="selfPickup">Самовывоз</label>
          <input type="radio" name="deliveryType" value="Доставка" 
            ng-model="data.shipping.deliveryType" id="delivery">
          <label for="delivery">Доставка</label>
        </td>
        <td class="td-total-txt" colspan="3">Итого:</td>
        <td class="td-total">{{total()}} руб</td>
      </tr>
    </tfoot>
  </table>
  <a href="#/placeorder" class="btn btn-dark bottom-margined">Оформить заказ</a>
</section>