<section id="checkout" ng-controller="checkoutCtrl">
  <table class="table" border="1">
    <thead>
      <tr>
        <th colspan="3">Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in cartData">
        <td><img ng-src="{{item.imageUrl}}" style="width: 50px; height: 50px;"></td>
        <td colspan="2">
          <p class="name">{{item.name}}</p>
          <p class="weight">{{item.weight}}</p>
        </td>
        <td>{{item.price}} Р</td>
        <td><input type="number" name="p_count" id="p_count" ng-model="cartData[item].count" value="{{item.count}}"></td>
        <td>{{(item.price * item.count)}} Р</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <input type="radio" name="deliveryType" value="delivery" id="delivery" checked>
          <label for="delivery">Доставка</label>
          <input type="radio" name="deliveryType" value="selfPickup" id="selfPickup">
          <label for="selfPickup">Самовывоз</label>
        </td>
        <td colspan="3">Итого:</td>
        
        <td>{{total()}} Р</td>
      </tr>
    </tfoot>
  </table>
</section>