<section>
  <h2>Контакты</h2>
  <div id="contacts" class="fxbx fx-js-sp-between fx-wr-wrap">
    <div class="fx-item leksapro-italic-large ">Телефон</div>
    <div class="fx-item leksapro-italic-large ">Электронная почта</div>
    <div class="fx-item leksapro-italic-large ">Instagram</div>
    <div class="fx-item">+7 (968) 761-08-07<br>+7 (968) 663-83-43</div>
    <div class="fx-item">
    	<a href="mailto:tomatort@yandex.ru">tomatort@yandex.ru</a>
    </div>
    <div class="fx-item">
    	<a ng-href="{{instagramLink}}" target="_blank">_tomatort_</a>
    </div>
  </div>
</section>

<section class="sec-lr-padded">
  <h2>Доставка</h2>
  <p><strong>Курьер: </strong>400 руб. в пределах МКАД (за МКАД - индивидуально)</p>
  <p>
  	<strong>Самовывоз: </strong>бесплатно, Олимпийский проспект д.10 к2<br>
  	(ближайшее метро: Проспект Мира и Цветной Бульвар)
  </p>
</section>

<section class="ya-map" ng-controller="yaMapCtrl">
	<ya-map ya-zoom="15" ya-center="[37.623267,55.777479]" >
		<ya-geo-object ya-source="address"></ya-geo-object>
	</ya-map>
</section>

<section class="sec-lr-padded">
  <h2>Оплата</h2>
  <p>
  	Наличными при получении заказа либо безналичным расчетом<br>
  	(более подробно условия обговариваются при заказе)
  </p>
</section>

<section class="callback">
  <h2>Обратный звонок</h2>
  <form name="callbackForm" class="callbackForm" novalidate
	  ng-controller="callbackCtrl" 
	  ng-submit="sendCallback(callbackForm)" 
	  ng-class="showValidation ? 'validate' : ''">
    <div class="ci_block fxbx fx-js-sp-between fx-wr-wrap">
			<input type="text" id="ci_first_name" name="firstName" class="ci_item" 
			  placeholder="Имя" ng-model="data.shipping.firstName" required>
			<input type="text" id="ci_last_name" name="lastName" class="ci_item" 
			  placeholder="Фамилия" ng-model="data.shipping.lastName" required>
			<input type="email" id="ci_email" name="email" class="ci_item" 
			  placeholder="Электронная почта" ng-model="data.shipping.email" required>
			<input type="tel" id="ci_tel" name="tel" class="ci_item" 
			  placeholder="Телефон" ng-model="data.shipping.tel" required>
		</div>
	  <textarea class="leksapro-italic-large " name="comment" form="callbackForm" placeholder="Комментарий"></textarea>
	  <input type="submit" class="btn btn-dark" value="Связаться" 
	  	ng-hide="callback.sent">
	  <p class="leksapro-italic-large bottom-margined" ng-show="callback.sent">
		  Ваш запрос успешно отправлен!<br>
		  Скоро мы с вами свяжемся.
	  </p>
  </form>
</section>