<section class="sec-lr-padded">
  <h2>Контакты</h2>
  <div id="contacts" class="fxbx fx-js-sp-between fx-wr-wrap">
    <div class="fx-item leksapro-italic-large ">Телефон</div>
    <div class="fx-item leksapro-italic-large ">Электронная почта</div>
    <div class="fx-item leksapro-italic-large ">Instagram</div>
    <div class="fx-item">+7 (968) 761-08-07,<br>+7 (968) 663-83-43</div>
    <div class="fx-item">tomatort@yandex.ru</div>
    <div class="fx-item">_tomatort_</div>
  </div>
</section>

<section class="callback">
  <h2>Обратный звонок</h2>
  <form name="callbackForm" class="callbackForm" novalidate
	  ng-controller="callbackCtrl" 
	  ng-submit="sendCallback(callbackForm)" 
	  ng-class="showValidation ? 'validate' : ''">
    <div class="ci_block fxbx fx-js-sp-between fx-wr-wrap">
			<input type="text" id="ci_first_name" name="firstName" class="ci_item" 
			  placeholder="Имя" ng-model="data.shipping.firstName" required>
			<input type="text" id="ci_last_name" name="lastName" class="ci_item" 
			  placeholder="Фамилия" ng-model="data.shipping.lastName" required>
			<input type="email" id="ci_email" name="email" class="ci_item" 
			  placeholder="Электронная почта" ng-model="data.shipping.email" required>
			<input type="tel" id="ci_tel" name="tel" class="ci_item" 
			  placeholder="Телефон" ng-model="data.shipping.tel" required>
		</div>
	  <textarea class="leksapro-italic-large " name="comment" form="callbackForm" placeholder="Комментарий"></textarea>
	  <input type="submit" class="btn btn-dark" value="Связаться" 
	  	ng-hide="callback.sent">
	  <p class="leksapro-italic-large top-bottom-margined" ng-show="callback.sent">
		  Ваш запрос успешно отправлен!<br>
		  Скоро мы с вами свяжемся.
	  </p>
  </form>
</section>