<section class="sec-bottom-margined sec-lr-padded">
  <h2>Десерт мечты</h2>
  <p>
    Не уверены, какой именно торт хотите заказать, но можете его описать? 
    Эта страница для вас! Немного фантазии и мы сделаем для вас именно 
    тот торт, о котором вы мечтаете.
  </p>
</section>
<form id="dd-form" name="dreamDessertForm" class="toma-form" novalidate
	ng-controller="dreamDessertCtrl" 
	ng-submit="sendDreamDessert(dreamDessertForm)" 
	ng-class="showValidation ? 'validate' : ''">
	
	<section id="dd-base">
		<h2>Основа</h2>
		<div class="fxbx fx-js-sp-between">
			<input type="radio" name="dd-base" value="Шоколадная" 
	      ng-model="dreamDessert.base" id="dd-base-choco">
	    <label class="leksapro-italic-large" for="dd-base-choco">Шоколадная</label>
	    <input type="radio" name="dd-base" value="Ванильная" 
	      ng-model="dreamDessert.base" id="dd-base-vanilla">
	    <label class="leksapro-italic-large" for="dd-base-vanilla">Ванильная</label>
	    <input type="radio" name="dd-base" value="Медовая" 
	      ng-model="dreamDessert.base" id="dd-base-honey">
	    <label class="leksapro-italic-large" for="dd-base-honey">Медовая</label>
	    <input type="radio" name="dd-base" value="Песочная" 
	      ng-model="dreamDessert.base" id="dd-base-shortcrust">
	    <label class="leksapro-italic-large" for="dd-base-shortcrust">Песочная</label>
	    <input type="radio" name="dd-base" value="Другое" 
	      ng-model="dreamDessert.base" id="dd-base-other">
	    <label class="leksapro-italic-large" for="dd-base-other">Другое</label>
    </div>
  <!--  <div class="tooltip">Hover over me-->
  <!--		<span class="tooltiptext">Tooltip text</span>-->
		<!--</div>-->
		<a class="tooltips" href="#">CSS Tooltips
			<span>abrakadabra</span>
		</a>
	</section>
	
	<section id="dd-cream">
	  <h2>Крем</h2>
  	<input type="range" min="1" max="4" step="1" value="1" 
  		ng-model="dreamDessert.cream" required>
  	<div class="range-block fxbx fx-js-sp-between">
  		<div class="range_item"></div>
  		<div class="range_item"></div>
  		<div class="range_item"></div>
  		<!--<div class="range_item"></div>-->
	  </div>
	  <div class="title-block leksapro-italic-large fxbx fx-js-sp-between">
	  	<div class="leksapro-italic-large">С кислинкой</div>
	  	<div class="leksapro-italic-large">Послаще</div>
	  	<div class="leksapro-italic-large">Шоколадный</div>
	  	<div class="leksapro-italic-large">Особый</div>
	  </div>
	</section>
	
  <section id="dd-design">
	  <h2>Дизайн</h2>
	  <div class="fxbx fx-js-sp-between fx-wr-wrap">
	  	<input type="checkbox" name="dd-design" id="dd-design-1"
	  		ng-model="dreamDessert.design[0]" ng-required="shouldBeRequired()">
	  	<label class="leksapro-italic-large" for="dd-design-1">
	  		Ягоды/фрукты
	  	</label>
	  	
    	<input type="checkbox" name="dd-design" id="dd-design-2"
    	 	ng-model="dreamDessert.design[1]" ng-required="shouldBeRequired()">
    	<label class="leksapro-italic-large" for="dd-design-2">
    		Цветы
    	</label>
    	
    	<input type="checkbox" name="dd-design" id="dd-design-3"
    		ng-model="dreamDessert.design[2]" ng-required="shouldBeRequired()">
    	<label class="leksapro-italic-large" for="dd-design-3">
    		Глазурь
    	</label>
    	
    	<input type="checkbox" name="dd-design" id="dd-design-4"
    		ng-model="dreamDessert.design[3]" ng-required="shouldBeRequired()">
    	<label class="leksapro-italic-large" for="dd-design-4">
    		Декор из мастики
    	</label>
    	
    	<input type="checkbox" name="dd-design" id="dd-design-5"
    		ng-model="dreamDessert.design[4]" ng-required="shouldBeRequired()">
    	<label class="leksapro-italic-large" for="dd-design-5">
    		Надпись
    	</label>
    	
    	<input type="checkbox" name="dd-design" id="dd-design-6"
    		ng-model="dreamDessert.design[5]" ng-required="shouldBeRequired()">
    	<label class="leksapro-italic-large" for="dd-design-6">
    		Флажки/несъедобные элементы
    	</label>
    	
    	<input type="checkbox" name="dd-design" id="dd-design-7"
    		ng-model="dreamDessert.design[6]" ng-required="shouldBeRequired()">
    	<label class="leksapro-italic-large" for="dd-design-7">
    		Конфеты/маршмеллоу/мармелад
    	</label>
    	
    	<input type="checkbox" name="dd-design" id="dd-design-8"
    		ng-model="dreamDessert.design[7]" ng-required="shouldBeRequired()">
    	<label class="leksapro-italic-large" for="dd-design-8">
    		Другое
    	</label>
	  </div>
	</section>
	
	<section id="param2">
	  <h2>Важный параметр 2</h2>
	  <textarea class="leksapro-italic-large" name="comment" 
	  	form="dreamDessertForm" placeholder="Место под текст"
	  	ng-model="dreamDessert.param2" required>
	  </textarea>
	</section>
	
	<section id="cake_file">
		<h2>Прикрепление файла</h2>
		<p class="leksapro-italic-large">Если Вам очень понравился какой-то торт, прикрепите фото</p>
		<input type="file" name="file" id="fileUpload" class="inputfile" 
			ng-model="dreamDessert.file">
		<label for="fileUpload">Выберите файл</label>
		<span class="chosenFile">Файл не выбран</span>
	</section>
	<section class="customer_info">
		<h2>Информация о заказчике</h2>
		<div class="ci_block fxbx fx-js-sp-between fx-wr-wrap">
			<input type="text" id="ci_first_name" name="firstName" class="ci_item" 
				placeholder="Имя" ng-model="data.shipping.firstName" required>
			<input type="text" id="ci_last_name" name="lastName" class="ci_item" 
				placeholder="Фамилия" ng-model="data.shipping.lastName" required>
			<input type="email" id="ci_email" name="email" class="ci_item" 
				placeholder="Электронная почта" ng-model="data.shipping.email" required>
			<input type="tel" id="ci_tel" name="tel" class="ci_item" 
				placeholder="Телефон" ng-model="data.shipping.tel" required>
		</div>
	</section>
	<input type="submit" id="submit_form" value="Отправить" 
		class="btn btn-dark" ng-hide="dreamDessert.sent">
	<p class="leksapro-italic-large top-bottom-margined" ng-show="dreamDessert.sent">
		Ваш заказ успешно отправлен!<br>
		Скоро мы с вами свяжемся для уточнения заказа
	</p>
</form>