<section id="gallery">
  <h2>Галерея</h2>
  
  <div class="gallery_slider" gallery-slider></div>
  
  <p>
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	</p>
</section>

<button class="back_to_menu">
  <a href="#/menu">Перейти в меню</a>
</button>