<section id="gallery">
  <h2>Галерея</h2>

	<div gallery-slider class="gallery_slider">
    <div class="gs_item" ng-repeat="product in data.products" gallery-slider-item>
      <img ng-src="{{product.imageUrl}}">
      <div class="title slider_title">{{product.name}}</div>
    </div>
  </div>
  
  <p>
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	</p>
	<a href="#/menu" class="btn btn-dark">Перейти в меню</a>
</section>
 