<section class="promo">
	<h1>Tomatort</h1>
	<p class="title">Кондитерская</p>
</section>

<section class="index_page">
	<h2>О нас</h2>
	<p>
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	</p>
</section>

<section id="home_menu" class="index_page menu">
	<h2>Меню</h2>
	<ul class="menu_block fxbx_block fxbx_sp_around fxbx_wrap">
		<li class="menu_item fxbx_item" ng-repeat="product in data.products | limitTo:3">
			<img ng-src="{{product.imageUrl}}">
			<p class="title">{{product.name}}</p>
		</li>
	</ul>
	<a href="#/menu" class="btn btn-dark">Больше</a>
</section>

<section class="index_page place_order">
	<h2>Как сделать заказ?</h2>
	<p>
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	</p>
</section>