<section id="promo" class="sec-short">
	<h1>Tomatort</h1>
	<p class="leksapro-italic-large">Кондитерская</p>
</section>

<section>
	<h2>О нас</h2>
	<p>
	  Томаторт создает кондитерские изделия ручной работы 
	  с использованием только качественных ингредиентов. 
	  У нас вы можете как заказать любой из уже существующих тортов, 
	  так и создать свой собственный неповторимый торт! 
	  И вкус, и дизайн могут быть любыми, однако мы стремимся сделать 
	  состав максимально натуральным, поэтому мы используем мастику только 
	  для небольших декоративных элементов.
	</p>
</section>

<section class="menu">
	<h2>Меню</h2>
	<ul class="menu-block fxbx fx-js-sp-around fx-wr-wrap">
		<li class="menu-item fx-item" ng-repeat="product in data.products | limitTo:3">
			<img class="img-cover" ng-src="{{product.imageUrl}}">
			<p class="menu-item-title">{{product.name}}</p>
		</li>
	</ul>
	<a href="#/menu" class="btn btn-dark top-bottom-margined">Больше</a>
</section>

<section class="place_order">
	<h2>Как сделать заказ?</h2>
	<p>
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую 
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	  Некоторое количество текста про кондитерскую
	</p>
</section>