<section id="sec-promo" class="sec-short sec-top-margined overflown-auto">
	<h1>Tomatort</h1>
	<p class="leksapro-italic-large">Кондитерская</p>
</section>

<section class="sec-lr-padded">
	<h2>О нас</h2>
	<p>
	  Томаторт создает кондитерские изделия ручной работы 
	  с использованием только качественных ингредиентов. 
	  У нас вы можете как заказать любой из уже существующих тортов, 
	  так и создать свой собственный неповторимый торт! 
	  И вкус, и дизайн могут быть любыми, однако мы стремимся сделать 
	  состав максимально натуральным, поэтому мы используем мастику только 
	  для небольших декоративных элементов.
	</p>
</section>

<section>
	<h2>Меню</h2>
	<ul class="menu-block fxbx fx-js-sp-around fx-wr-wrap">
		<li class="menu-item fx-item" ng-repeat="product in data.products | limitTo:3">
			<img class="img-cover" ng-src="{{product.imageUrl}}">
			<p class="menu-item-title">{{product.name}}</p>
		</li>
	</ul>
	<a href="#/menu" class="btn btn-dark top-margined">Больше</a>
</section>

<section class="sec-two-column sec-bottom-margined">
	<div class="fxbx fx-js-sp-between fx-wr-wrap">
		<div class="fx-item">
			<h2>Как заказать?</h2>
			<p>
			  Чтобы сделать заказ, добавьте интересующие вас товары в корзину 
			  не менее чем за 4 дня до мероприятия. В комментарии укажите желаемое время 
			  и дату доставки/самовывоза. Также вы можете сделать заказ по телефону.
			</p><br>
			<p>
				Поскольку все наши пирожные, капкейки и торты не содержат консервантов, 
				срок их хранения в разы меньше, чем выпечки из магазинов.
			</p><br>
			<p>
				Рекомендуем выбирать время доставки наиболее близкое 
				ко времени употребления изделий. 
			</p>
		</div>
		<div class="fx-item">
			<h2>Как связаться с нами?</h2>
			<p>
			  Если у Вас есть вопросы по поводу ассортимента и ингредиентов, 
			  позвоните по телефонам, ука-занным в контактной информации. 
			  Также Вы можете связаться с нами через нашу страницу в Instagram, 
			  кликнув на соответствующий пункт в нижем меню.
			</p>
		</div>
	</div>
</section>