<section id="menu_page" class="menu">
  <h2>Меню</h2>
  
  <div class="sort_block fxbx_block fxbx_sp_between">
    <div class="sort_item">Сортировка:</div>
    <div class="sort_item">По цене</div>
    <div class="sort_item">По названию</div>
  </div>
  
	<ul class="menu_block fxbx_block fxbx_flex_start fxbx_wrap">
		<li class="menu_item fxbx_item flip_animated" ng-repeat="product in data.products">
			<div class="flipper"> 
			  <div class="flip_front"> 
			    Front content
			  </div> 
			  <div class="flip_back">
			    Back content
			  </div> 
			</div>
		</li>
	</ul>
</section>

<section id="dream_dessert">
	<h2>Ищите что-то особенное?</h2>
	<p class="title">Опишите идеальный десерт</p>
	<div class="order_dream">
		<button class="order_dream_btn">
			Заказать десерт мечты
		</button>
	</div>
</section>