<section>
  <h2>Меню</h2>
  
  <div id="sort-block" class="fxbx fx-js-sp-between">
    <div class="sort-item">Сортировка:</div>
    <div class="sort-item">По цене</div>
    <div class="sort-item">По названию</div>
  </div>
  
	<ul class="menu-block fxbx fx-js-start-3 fx-wr-wrap"
		ng-controller="productCtrl">
		<li class="menu-item fx-item flip_animated" 
			ng-repeat="product in data.products">
			<div class="slideup-animated">
			  <div class="visible">
			  	<img class="img-cover" ng-src="{{product.imageUrl}}">
			  	<div class="hidden blackout"
			  		ng-click="openProductItemPage(product)">
			  		<p class="menu-item-name">{{product.name}}</p>
				    <p class="menu-item-price">{{product.price}} Р</p>
				    <button class="btn btn-light" ng-hide="product.ordered"
			    		ng-click="setOrdered(product.id); 
			    		addToCart(product); 
			    		$event.stopPropagation()">
			    		Заказать
			    	</button>
			    	<a href="#/checkout" ng-controller="menuCtrl" class="btn btn-light"
			    		ng-show="product.ordered"
			    		ng-click="selectMenuItem('/checkout')">
							Перейти в корзину
			    	</a>
			  	</div>
			  </div>
			</div>
		</li>
	</ul>
</section>

<section class="sec-bottom-padded">
	<h2>Ищите что-то особенное?</h2>
	<p class="leksapro-italic-large">Опишите идеальный десерт</p>
	<div id="order-dream-dessert" class="overflown-auto">
		<a href="#/dreamdessert" class="btn btn-light">
			Заказать десерт мечты
		</a>
	</div>
</section>