<section id="menu_page" class="menu">
  <h2>Меню</h2>
  
  <div class="sort_block fxbx_block fxbx_sp_between">
    <div class="sort_item">Сортировка:</div>
    <div class="sort_item">По цене</div>
    <div class="sort_item">По названию</div>
  </div>
  
	<ul class="menu_block fxbx_block fxbx_flex_start fxbx_wrap"
		ng-controller="menuCtrl">
		<li class="menu_item fxbx_item flip_animated" ng-repeat="product in data.products">
			<div class="flipper"> 
			  <div class="flip_front content_front">
			  	<img ng-src="{{product.imageUrl}}">
			    <p class="title">{{product.name}}</p>
			  </div> 
			  <div class="flip_back content_back">
			  	<img ng-src="{{product.imageUrl}}">
			  	<div class="fading"></div>
			    <p class="p_name">{{product.name}}</p>
			    <p class="p_price">{{product.price}} Р</p>
			    <button class="btn_order" ng-hide="product.ordered"
			    	ng-click="setOrdered(product.id); addToCart(product)">Заказать
			    </button>
			    <a href="#/checkout">
			    	<button class="btn_checkout" ng-show="product.ordered"
			    		ng-click="selectMenuItem('/checkout')">Перейти в корзину
			    	</button>
			    </a>
			  </div> 
			</div>
		</li>
	</ul>
</section>

<section id="dream_dessert">
	<h2>Ищите что-то особенное?</h2>
	<p class="title">Опишите идеальный десерт</p>
	<div class="order_dream">
		<button class="order_dream_btn">
			Заказать десерт мечты
		</button>
	</div>
</section>