<form class="delivery_form" name="deliveryForm" ng-submit="sendShip(deliveryForm)" 
	ng-class="showValidation ? 'validate' : ''" novalidate>
  <section class="customer_info">
		<h2>Информация о заказчике</h2>
		<div class="ci_block fxbx fx-js-sp-between fx-wr-wrap">
			<input type="text" id="ci_first_name" name="firstName" class="ci_item" 
				placeholder="Имя" ng-model="data.shipping.firstName" required>
			<input type="text" id="ci_last_name" name="lastName" class="ci_item" 
				placeholder="Фамилия" ng-model="data.shipping.lastName" required>
			<input type="email" id="ci_email" name="email" class="ci_item" 
				placeholder="Электронная почта" ng-model="data.shipping.email" required>
			<input type="tel" id="ci_tel" name="tel" class="ci_item" 
			  placeholder="Телефон" ng-model="data.shipping.tel" required>
		</div>
	</section>
	<section class="delivery_info">
	  <h2>Информация о доставке</h2>
	  <input type="text" id="di_address" name="address" class="title di_item" 
	  	placeholder="Адрес" ng-model="data.shipping.address" required>
		<textarea class="form_textarea title" name="comment" form="delivery_form" 
			placeholder="Комментарий" ng-model="data.shipping.comment"></textarea>
	</section>
	<input type="submit" value="Заказать" class="btn btn-dark"
		ng-hide="data.shipping.sent">
	<p class="title sent" ng-show="data.shipping.sent">
		Ваш заказ успешно отправлен!<br>
		Скоро мы с вами свяжемся для уточнения заказа
	</p>
</form>