<section id="product_info" ng-controller="productCtrl">
  <h2>Торт "Наполеон"</h2>
  <img src="images/menu_item.jpg" alt="" class="product_pic">
  <div class="info">
    <div class="price">
	    1500 Р
	  </div>
	  <div class="desc">
	    {{product_id}} Описание Описание
	    Описание Описание Описание
	    Описание Описание Описание
	    Описание Описание Описание
	  </div>
	  <div class="title composition">
	    Состав: <br>
	  </div>
	  <button class="order_btn" ng-hide="product.ordered"
	  	ng-click="showProductId()">
	  		Заказать
	  </button>
	  <a href="#/checkout">
    	<button class="order_btn" ng-show="product.ordered"
    		ng-click="selectMenuItem('/checkout')">Перейти в корзину
    	</button>
    </a>
  </div>
  
  <div class="back"><a href="#/menu">&lt;&nbsp;&nbsp;Вернуться в меню</a></div>
 
</section>