<section id="product_info" ng-controller="productCtrl">
  <h2>{{selectedProduct.name}}</h2>
  <img ng-src="{{selectedProduct.imageUrl}}" class="product_pic">
  <div class="info">
    <div class="price">
	    {{selectedProduct.price}} Р
	  </div>
	  <div class="desc">
	    Описание Описание Описание
	    Описание Описание Описание
	    Описание Описание Описание
	    Описание Описание Описание
	  </div>
	  <div class="leksapro-italic-large composition">
	    Масса: {{selectedProduct.weight}} г<br>
	  </div>
	  <button class="btn btn-dark" ng-hide="selectedProduct.ordered"
	  	ng-click="setOrdered(selectedProduct.id); 
			    			addToCart(selectedProduct);">
	  	Заказать
	  </button>
	  <a href="#/checkout" class="btn btn-dark" ng-show="selectedProduct.ordered"
    	ng-click="selectMenuItem('/checkout')">
    	Перейти в корзину
    </a>
  </div>
  
  <div class="back"><a href="#/menu">&lt;&nbsp;&nbsp;Вернуться в меню</a></div>
 
</section>