<section ng-controller="productCtrl">
  <h2>{{selectedProduct.name}}</h2>
  <img ng-src="{{selectedProduct.imageUrl}}" class="product-img img-cover">
  <div class="product-info">
    <div class="price">{{selectedProduct.price}} руб</div>
	  <div class="desc">{{selectedProduct.description}}</div>
	  <button class="btn btn-dark" ng-hide="selectedProduct.ordered"
	  	ng-click="setOrdered(selectedProduct.id); 
			    			addToCart(selectedProduct);">
	  	Заказать
	  </button>
	  <a href="#/checkout" class="btn btn-dark" ng-show="selectedProduct.ordered"
    	ng-click="selectMenuItem('/checkout')">
    	Перейти в корзину
    </a>
  </div>
  
  <div class="back-to-menu"><a href="#/menu">&lt;&nbsp;&nbsp;Вернуться в меню</a></div>
 
</section>