nav {
  @extend .merel-regular;
  text-transform: uppercase;
  width: 660px;
  margin: 0 auto;
  &#nav-top {
    font-size: $fs-medium;
    width: 660px;
    color: $mine-shaft;
    li:hover {
      color: $puerto-rico;
    }
  }
  &#nav-bottom {
    font-size: $fs-small;
    width: 500px;
    color: $grey;
    margin-top: 40px;
    li:hover {
      color: $jet-stream;
    }
  }
  li {
    display: inline-block;
    cursor: pointer;
    &.li-active {
      color: $puerto-rico;
    }
  }
}