// overflow auto box
.overflown-auto {
  overflow: auto;
}

// wrapper centering the content
.wrapper {
  width: 900px;
  margin: 0 auto;
}

// site logo
.logo {
  display: block;
  width: 170px;
  margin: 40px auto;
}

// adds top margin to block element
.top-margined {
  margin-top: 40px;
}

// adds bottom margin to block element
.bottom-margined {
  margin-bottom: 40px;
}

// black semitransparent cover on the block
.blackout {
  background: rgba(0, 0, 0, 0.5);
}

// cover img to fit width and height of the block
// analog of background-size:cover property
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; // only for modern browsers
}