// overflow auto box
.overflown-auto {
  overflow: auto;
}

// wrapper centering the content
.wrapper {
  width: 900px;
  margin: 0 auto;
}

// site logo
.logo {
  display: block;
  width: 170px;
  margin: 40px auto;
}

// adds top and bottom margins to block element
.top-bottom-margined {
  margin: 40px 0;
}

// black semitransparent cover on the block
.blackout {
  background: rgba(0, 0, 0, 0.5);
}

// cover img to fit width and height of the block
// analog of background-size:cover property
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; // only for modern browsers
}