input[type=number] {
  @extend .merel-light;
  font-size: $fs-xxlarge;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  border: 2px solid $cruise;
  
  // show spinner on type number input (webkit browsers)
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    opacity: 1;
  }
}
  