#checkout-table {
  margin-top: 50px;
  border-collapse: collapse;
  tr {
    border-top: 2px solid $cruise;
  }
  th, td {
    width: 150px;
    min-width: 150px;
    &[colspan='2'] {
      width: 300px;
      max-width: 300px;
    }
    &[colspan='3'] {
      width: 450px;
      max-width: 450px;
    }
  }
  th {
    @extend .leksapro-italic;
    font-size: $fs-small;
    height: 40px;
  }
  td {
    height: 120px;
    @extend .merel-light;
    font-size: $fs-xlarge;
    box-sizing: border-box;
    &.td-del-type, &.td-name {
      text-align: left;
    }
    &.td-img {
      padding: 10px 15px 5px;
    }
    &.td-name {
      padding-left: 20px;
    }
    &.td-total-txt {
      text-align: right;
      text-transform: uppercase;
    }
  }
}