#checkout-table {
  margin-top: 50px;
  border-collapse: collapse;
  tr {
    border-top: 2px solid $cruise;
  }
  th, td {
    width: 150px;
    min-width: 150px;
    &[colspan='2'] {
      width: 300px;
      max-width: 300px;
    }
    &[colspan='3'] {
      width: 450px;
      max-width: 450px;
    }
  }
  th {
    @extend .leksapro-italic;
    font-size: $fs-small;
    height: 40px;
  }
  td {
    height: 150px;
    &.td-img {
      padding: 10px;
    }
    &.td-del-type {
      text-align: left;
    }
    &.td-total-txt {
      text-align: right;
    }
  }
}