#contacts {
  .fx-item {
    width: 33%;
    height: 60px;
    &:nth-child(n+4) {
      @extend .merel-regular;
      font-size: $fs-large;
    }
  }
}

.ya-map {
  height: 500px;
  margin-top: 50px;
}