#contacts {
  .fx-item {
    width: 33%;
    height: 60px;
    &:nth-child(n+4) {
      @extend .merel-regular;
      font-size: $fs-large;
    }
  }
}

.callback {
  width: 600px;
  margin: 0 auto;
  height: auto;
  h2 {
    margin-top: 20px;
  }
}