#dd-form {
  border-top: 1px solid $cruise;
  overflow-x: visible;
}

.title-block {
  width: 110%;
  margin-left: -7%;
  margin-top: 10px;
}

.range-block {
  width: 580px;
  margin: -19px auto 0;
  height: 16px;
  border-left: 1px solid $cruise;
  border-right: 1px solid $cruise;
  .range_item {
    width: 200px;
    border-left: 1px solid $cruise;
  }
}

#cake_file {
  h2 {
    margin-bottom: 21px;
  }
}

input[type=file] {
  display: none;
  & + label {
    margin-top: 45px;
    border: 1px solid #B4EEDE;
    font-family: Merel;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
    box-sizing: border-box;
    &:hover {
      background: $cruise;
      color: lighten($tundora, 5%);
    }
  }
}

.chosenFile {
  font-family: Merel;
  font-weight: 400;
  font-size: 16px;
  margin-left: 40px;
}

.ci_item {
  width: 260px;
  height: 50px;
  border: 1px solid #B4EEDE;
  font-family: LeksaPro;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

#cake_params {
  .customer_info {
    h2 {
      margin-top: 80px;
    }
  }
}