#dd-form {
  border-top: 1px solid $cruise;
  overflow-x: visible;
}

// range styles for dd-form
.range-block {
  width: 580px;
  margin: -19px auto 0;
  height: 16px;
  border-left: 1px solid $cruise;
  border-right: 1px solid $cruise;
  .range-item {
    border-left: 1px solid $cruise;
  }
  .range-item-3 {
    width: 200px;
  }
  .range-item-6 {
    width: 100px;
  }
}

// title styles for range
.title-block {
  margin-top: 10px;
}
.title-block-3 {
  width: 110%;
  margin-left: -7%;
}
.title-block-6 {
  width: 102%;
  margin-left: -1%;
}

.ci_item {
  width: 260px;
  height: 50px;
  border: 1px solid #B4EEDE;
  font-family: LeksaPro;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

#cake_params {
  .customer_info {
    h2 {
      margin-top: 80px;
    }
  }
}