#dd-form {
  border-top: 1px solid $cruise;
  overflow-x: visible;
}

.title-block {
  width: 110%;
  margin-left: -7%;
  margin-top: 10px;
}

.range-block {
  width: 580px;
  margin: -19px auto 0;
  height: 16px;
  border-left: 1px solid $cruise;
  border-right: 1px solid $cruise;
  .range_item {
    width: 200px;
    border-left: 1px solid $cruise;
  }
}

// .tooltip {
//   position: relative;
//   display: inline-block;
//   border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
// }

// /* Tooltip text */
// .tooltip .tooltiptext {
//   visibility: hidden;
//   width: 120px;
//   background-color: black;
//   color: #fff;
//   text-align: center;
//   padding: 5px 0;
//   border-radius: 6px;

//   /* Position the tooltip text - see examples below! */
//   position: absolute;
//   z-index: 1;
// }

// /* Show the tooltip text when you mouse over the tooltip container */
// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width: 140px;
  color: #000000;
  background: #B4EEDE;
  height: 50px;
  line-height: 50px;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #B4EEDE;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a.tooltips:hover span {
  visibility: visible;
  opacity: 0.7;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

#cake_file {
  h2 {
    margin-bottom: 21px;
  }
}

input[type=file] {
  display: none;
  & + label {
    margin-top: 45px;
    border: 1px solid #B4EEDE;
    font-family: Merel;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    height: 50px;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
    box-sizing: border-box;
    &:hover {
      background: $cruise;
      color: lighten($tundora, 5%);
    }
  }
}

.chosenFile {
  font-family: Merel;
  font-weight: 400;
  font-size: 16px;
  margin-left: 40px;
}

.ci_item {
  width: 260px;
  height: 50px;
  border: 1px solid #B4EEDE;
  font-family: LeksaPro;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

#cake_params {
  .customer_info {
    h2 {
      margin-top: 80px;
    }
  }
}