#gallery {
  height: auto;
  h2 {
    margin-top: 20px;
  }
  p {
    margin: 80px auto 50px;
  }
}

.back_to_menu {
  display: block;
  border: 1px solid #686868;
  width: 300px;
  height: 60px;
  font-family: Merel;
  font-weight: 400;
  font-size: 23px;
  padding-top: 4px;
  margin: 0 auto 80px;
}