#sec-menu {
  h2 {
    margin-top: 0;
  }
  .sort-block {
    width: 360px;
    @extend .merel-regular;
    font-size: $fs-small;
    text-transform: uppercase;
    margin: 0 auto 50px;
    .sort-item:nth-of-type(2):hover, 
    .sort-item:nth-of-type(3):hover {
      color: $puerto-rico;
      cursor: pointer;
    }
  }
}

#dream_dessert {
  height: auto;
  h2 {
    margin-bottom: 38px;
  }
  .order_dream {
    height: 150px;
    margin: 50px auto 80px;
    overflow: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(/images/dream.png);
    background-size: contain;
  }
  .btn {
    width: 250px;
    margin-top: 50px;
  }
}
