#sort-block {
  width: 360px;
  @extend .merel-regular;
  font-size: $fs-small;
  text-transform: uppercase;
  margin: 0 auto 50px;
  .sort-item:nth-of-type(2):hover, 
  .sort-item:nth-of-type(3):hover {
    color: $puerto-rico;
    cursor: pointer;
  }
}

#order-dream-dessert {
  height: 150px;
  margin-top: 50px;
  @include gradient-bg(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), 
    url(/images/dream.png));
  background-size: contain;
  .btn {
    width: 250px;
    margin-top: 50px;
  }
}

#extra-info {
  li {
    list-style: circle;
    font-size: $fs-small;
    line-height: 29px;
    text-align: left;
  }
}