#product_info {
  height: auto;
  h2 {
    margin-top: 30px;
  }
  .product_pic {
    width: 600px;
    height: 450px;
    float: left;
  }
  .info {
    position: relative;
    width: 300px;
    height: 450px;
    float: right;
    text-align: left;
    padding-left: 46px;
    box-sizing: border-box;
    .price {
      font-family: Merel;
      font-weight: 300;
      font-size: 53px;
      line-height: 30px;
    }
    .desc {
      font-family: PermianSerifTypeface;
      font-size: 16px;
      font-weight: 400;
      margin-top: 60px;
    }
    .composition {
      text-align: left;
      margin-top: 78px;
    }
    .order_btn {
      font-size: 16px;
      border: 1px solid #686868;
      border-radius: 1px;
      width: 190px;
      height: 50px;
      position: absolute;
      bottom: 0;
      &:hover {
        background: $button-hover-bg-color;
        border: none;
        color: $button-hover-text-color;
      }
    }
  }
  .back {
    text-transform: uppercase;
    font-family: Merel;
    font-weight: 400;
    font-size: 16px;
    float: left;
    margin: 78px 0;
    cursor: pointer;
  }
}