.product-img {
  width: 500px;
  height: 450px;
  float: left;
}
.product-info {
  position: relative;
  width: 400px;
  height: 450px;
  float: right;
  text-align: left;
  padding-left: 46px;
  box-sizing: border-box;
  .price {
    @extend .merel-light;
    font-size: $fs-price;
    line-height: 30px;
  }
  .desc {
    @extend .permianserif-regular;
    font-size: $fs-small;
    margin-top: 50px;
  }
  .set {
    @extend .merel-light;
    font-size: $fs-xlarge;
    width: 190px;
    position: absolute;
    bottom: 60px;
  }
  .btn {
    position: absolute;
    bottom: 0;
  }
}
.back-to-menu {
  text-transform: uppercase;
  @extend .merel-regular;
  font-size: $fs-small;
  float: left;
  margin: 50px 0;
  cursor: pointer;
}