@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/range_style';
@import 'utilities/fonts';
@import 'utilities/slider';
@import 'utilities/flip_animated';
@import 'pages/menu';
@import 'pages/productItem';
@import 'pages/dreamDessert';
@import 'pages/gallery';
@import 'pages/contacts';
@import 'pages/placeOrder';
@import 'pages/checkout';
@import 'pages/home';

.fxbx_block {
  @include flexbox();
}
.fxbx_sp_between {
  @include flex-justify(space-between);
}
.fxbx_flex_start {
  @include flex-justify(flex-start);
  .fxbx_item:nth-child(3n-1) {
    margin-left: 6px;
    margin-right: 6px;
  }
}
.fxbx_sp_around {
  @include flex-justify(space-around);
}
.fxbx_wrap {
  @include flex-wrap(wrap);
}
/*
fxbx
fx_jstf_sp_between
fx_jstf_sp_around
fx_jstf_fx_start
fx_wrp_wrap
*/

ul, h1, h2, p, body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: LeksaPro;
  font-style: italic;
  font-size: 20px;
}
p.sent {
  font-size: 23px;
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// btn classes
.btn {
  @extend .merel-regular;
  display: block;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  width: 190px;
  height: 50px;
  line-height: 48px;
  margin: 0 auto;
  &:hover {
    color: lighten($tundora, 3.5);
    background: $cruise;
    border: none;
  }
}
.btn-dark {
  border: 1px solid $dove-grey;
  color: $tundora;
}
.btn-light {
  border: 1px solid white;
  color: white;
}
form {
  .btn {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

input {
  border: none;
  outline: none;
}

input[type=checkbox] {
  display: none;
}
// always show spinner on type number input
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
}

// input[type=submit] {
//   background: none;
//   border: 1px solid #686868;
//   font-family: Merel;
//   font-weight: 400;
//   font-size: 16px;
//   text-transform: uppercase;
//   width: 190px;
//   height: 50px;
//   padding: 4px 0 0 0;
//   cursor: pointer;
//   margin: 40px auto 40px;
//   display: block;
//   &:hover {
//     border: none;
//     color: lighten($tundora, 5%);
//     background-color: $button-hover-bg-color;
//   }
// }

// angular form error classes
form.validate .ng-invalid { background-color: #ffe6e6; }
form.validate .ng-invalid + label { background-color: #ffe6e6; }
// form .ng-valid.ng-dirty { background-color: lightgreen; }

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.logo {
  overflow: auto;
  a {
    display: block;
    width: 170px;
    margin: 40px auto;
  }
}

header {
  overflow: auto;
  nav {
    margin-top: 3px;
    margin-bottom: 50px;
  }
}

nav {
  @extend .merel-regular;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: $nav-text-color;
  text-transform: uppercase;
  width: 700px;
  margin: 0 auto;
  ul {
    text-align: justify;
    font-size: 4px; // justify last line fix
    &:after { // justify last line fix
      content: "";
      display: inline-block;
      width: 100%;
    }
    
    li {
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      color: $nav-text-color;
      &:hover {
        color: $nav-text-color-hover;
      }
    }
    .menu-active {
      color: $nav-text-color-hover;
    }
  }
}

section {
  // height: 300px;
  text-align: center;
  overflow: hidden;
  h2 {
    font-family: Merel;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    margin: 80px 0 47px;
    text-transform: uppercase;
  }
  p {
    font-family: PermianSerifTypeface;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    width: 600px;
    margin: 0 auto;
  }
}

.promo {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/promo.jpg);
  background-size: contain;
  color: white;
  h1 {
    font-family: Merel;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 95px;
    margin-bottom: 40px;
  }
}

.menu {
  height: 600px;
  .menu_block {
    height: auto;
    .menu_item {
      position: relative;
      height: 300px;
      width: 296px;
      cursor: pointer;
      margin-bottom: 4px;
      .btn {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .fading {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
      }

      .content_back {
        p {
          width: 100%;
          color: white;
          position: absolute;
          z-index: 2;
          &.p_name {
            font-family: LeksaPro;
            font-style: italic;
            font-size: 20px;
            top: 50px;
          }
          &.p_price {
            font-family: Merel;
            font-weight: 300;
            font-size: 30px;
            top: 100px;
          }
        }
      }
      .title {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 47px;
        color: white;
        background: rgba(black, 0.61);
        line-height: 47px;
        border-top: 1px solid $dove-grey;
      }
    }
  }
}

.place_order {
  h2 {
    margin-top: 30px;
  }
}

footer {
  height: 100px;
  background: $footer-bg;
  overflow: auto;
  nav {
    width: 500px;
    margin-top: 39px;
    
    li {
      color: $footer-li-color;
      font-size: 15px;
      &:hover {
        color: $footer-li-hover-color;
      }
    }
  }
  .socials {
    .fb {
      background: url(/images/socials.png) 0 0;
      &:hover {
        background-position: 0 -31px;
      }
    }
    .inst {
      background: url(/images/socials.png) -31px 0;
      &:hover {
        background-position: -31px -31px;
      }
    }
    .vk {
      background: url(/images/socials.png) -62px 0;
      &:hover {
        background-position: -62px -31px;
      }
    }
  }
}

.socials {
  width: 200px;
  overflow: auto;
  margin: 20px auto 0;
  .social {
    width: 31px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
  }
}

.form_textarea {
  border: 1px solid #C6F4E5;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100%;
  height: 115px;
  resize: vertical;
  margin-bottom: 0;
  outline: none;
}

.form_success {
  p {
    margin-top: 0;
  }
}

.customer_info {
  width: 600px;
  margin: 0 auto;
  h2 {
    margin-top: 20px;
  }
}