@font-face { 
    font-family: Merel;
    src: url('/fonts/Merel/Merel-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Merel/Merel-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/Merel/Merel-Light.otf') format('opentype'), /* Almost like ttf */
        url('/fonts/Merel/Merel-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/Merel/Merel-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Merel/Merel-Light.svg#Merel-Light') format('svg'); /* Legacy iOS */
    font-weight: 300; 
}
@font-face { 
    font-family: Merel;
    src: url('/fonts/Merel/Merel.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Merel/Merel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/Merel/Merel.otf') format('opentype'), /* Almost like ttf */
        url('/fonts/Merel/Merel.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/Merel/Merel.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Merel/Merel.svg#Merel') format('svg'); /* Legacy iOS */
    font-weight: 400; 
}
@font-face { 
    font-family: Merel;
    src: url('/fonts/Merel/Merel-Bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Merel/Merel-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/Merel/Merel-Bold.otf') format('opentype'), /* Almost like ttf */
        url('/fonts/Merel/Merel-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/Merel/Merel-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Merel/Merel-Bold.svg#Merel-Bold') format('svg'); /* Legacy iOS */
    font-weight: 700; 
}
@font-face { 
    font-family: LeksaPro;
    src: url('/fonts/LeksaPro/LeksaPro-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LeksaPro/LeksaPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/LeksaPro/LeksaPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/LeksaPro/LeksaPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/LeksaPro/LeksaPro-Light.svg#LeksaPro-Light') format('svg'); /* Legacy iOS */
    font-weight: 700; 
}
@font-face { 
    font-family: LeksaPro;
    src: url('/fonts/LeksaPro/LeksaPro-Italic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LeksaPro/LeksaPro-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/LeksaPro/LeksaPro-Italic.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/LeksaPro/LeksaPro-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/LeksaPro/LeksaPro-Italic.svg#LeksaPro-Italic') format('svg'); /* Legacy iOS */
    font-style: italic; 
}
@font-face { 
    font-family: PermianSerifTypeface;
    src: url('/fonts/PermianSerifTypeface/PermianSerifTypeface.eot'); /* IE9 Compat Modes */
    src: url('/fonts/PermianSerifTypeface/PermianSerifTypeface.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/PermianSerifTypeface/PermianSerifTypeface.woff') format('woff'), /* Pretty Modern Browsers */
        url('/fonts/PermianSerifTypeface/PermianSerifTypeface.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/PermianSerifTypeface/PermianSerifTypeface.svg#PermianSerifTypeface') format('svg'); /* Legacy iOS */
    font-weight: 400; 
}

@mixin flexbox() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin flex($values) {
  -webkit-box-flex: $values; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex:  $values; /* OLD - Firefox 19- */
  -webkit-flex:  $values; /* Chrome */
  -ms-flex:  $values; /* IE 10 */
  flex:  $values; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

$nav-text-color: #353535;
$nav-text-color-hover: #3BBFA5;
$stroke-color: #686868;
$button-text-color: #444444;
$button-hover-text-color: #4D4D4D;
$button-hover-bg-color: #B4EEDE;
$footer-bg: #333333;
$footer-li-color: #808080;
$footer-li-hover-color: #A8CCC8;

ul, h1, h2, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.logo {
  overflow: auto;
  img {
    display: block;
    width: 170px;
    margin: 40px auto;
  }
}

header {
  overflow: auto;
  nav {
    margin-top: 3px;
    margin-bottom: 50px;
  }
}

nav {
  font-family: Merel;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: $nav-text-color;
  text-transform: uppercase;
  width: 600px;
  margin: 0 auto;
  ul {
    text-align: justify;
    font-size: 4px; // justify last line fix
    
    &:after { // justify last line fix
      content: "";
      display: inline-block;
      width: 100%;
    }
    
    li {
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        color: $nav-text-color-hover;
      }
    }
  }
}

section {
  height: 300px;
  text-align: center;
  overflow: hidden;
  h2 {
    font-family: Merel;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    margin: 80px 0 47px;
    text-transform: uppercase;
  }
  p {
    font-family: PermianSerifTypeface;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    width: 600px;
    margin: 0 auto;
  }
}

.promo {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/promo.jpg);
  background-size: contain;
  color: white;
  h1 {
    font-family: Merel;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 95px;
  }
  p {
    font-family: LeksaPro;
    font-style: italic;
    font-size: 20px;
    margin-top: 38px;
  }
}

.menu {
  height: 600px;
  .menu_block {
    overflow: auto;
    @include flexbox();
    .menu_item {
      @include flex(1 33%);
      position: relative;
      height: 300px;
      width: 300px;
      background-image: url(/images/menu_item.jpg);
      background-size: contain;
      margin-right: 4px;
      cursor: pointer;
      p {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 47px;
        font-family: LeksaPro;
        font-style: italic;
        font-size: 20px;
        color: white;
        background: rgba(black, 0.61);
        line-height: 47px;
        border-top: 1px solid $stroke-color;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .more {
    border: 1px solid $stroke-color;
    border-radius: 1px;
    width: 190px;
    height: 50px;
    font-family: Merel;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 48px;
    color: $button-text-color;
    &:hover {
      background: $button-hover-bg-color;
      border: none;
      color: $button-hover-text-color;
    }
  }
}

.place_order {
  h2 {
    margin-top: 30px;
  }
}

footer {
  height: 150px;
  background: $footer-bg;
  nav {
    width: 440px;
    li {
      color: $footer-li-color;
      &:hover {
        color: $footer-li-hover-color;
      }
    }
  }
}