input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #B4EEDE;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #B4EEDE;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #B4EEDE;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #B4EEDE;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #B4EEDE;
}

input[type=range]::-ms-fill-upper {
  background: #B4EEDE;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #B4EEDE;
  cursor: pointer;
}

@font-face {
  font-family: Merel;
  src: url("/fonts/Merel/Merel-Light.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Merel/Merel-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Merel/Merel-Light.otf") format("opentype"), url("/fonts/Merel/Merel-Light.woff") format("woff"), url("/fonts/Merel/Merel-Light.ttf") format("truetype"), url("/fonts/Merel/Merel-Light.svg#Merel-Light") format("svg");
  /* Legacy iOS */
  font-weight: 300;
}
@font-face {
  font-family: Merel;
  src: url("/fonts/Merel/Merel.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Merel/Merel.eot?#iefix") format("embedded-opentype"), url("/fonts/Merel/Merel.otf") format("opentype"), url("/fonts/Merel/Merel.woff") format("woff"), url("/fonts/Merel/Merel.ttf") format("truetype"), url("/fonts/Merel/Merel.svg#Merel") format("svg");
  /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: Merel;
  src: url("/fonts/Merel/Merel-Bold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Merel/Merel-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Merel/Merel-Bold.otf") format("opentype"), url("/fonts/Merel/Merel-Bold.woff") format("woff"), url("/fonts/Merel/Merel-Bold.ttf") format("truetype"), url("/fonts/Merel/Merel-Bold.svg#Merel-Bold") format("svg");
  /* Legacy iOS */
  font-weight: 700;
}
@font-face {
  font-family: LeksaPro;
  src: url("/fonts/LeksaPro/LeksaPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/LeksaPro/LeksaPro-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/LeksaPro/LeksaPro-Light.woff") format("woff"), url("/fonts/LeksaPro/LeksaPro-Light.ttf") format("truetype"), url("/fonts/LeksaPro/LeksaPro-Light.svg#LeksaPro-Light") format("svg");
  /* Legacy iOS */
  font-weight: 700;
}
@font-face {
  font-family: LeksaPro;
  src: url("/fonts/LeksaPro/LeksaPro-Italic.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/LeksaPro/LeksaPro-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/LeksaPro/LeksaPro-Italic.woff") format("woff"), url("/fonts/LeksaPro/LeksaPro-Italic.ttf") format("truetype"), url("/fonts/LeksaPro/LeksaPro-Italic.svg#LeksaPro-Italic") format("svg");
  /* Legacy iOS */
  font-style: italic;
}
@font-face {
  font-family: PermianSerifTypeface;
  src: url("/fonts/PermianSerifTypeface/PermianSerifTypeface.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/PermianSerifTypeface/PermianSerifTypeface.eot?#iefix") format("embedded-opentype"), url("/fonts/PermianSerifTypeface/PermianSerifTypeface.woff") format("woff"), url("/fonts/PermianSerifTypeface/PermianSerifTypeface.ttf") format("truetype"), url("/fonts/PermianSerifTypeface/PermianSerifTypeface.svg#PermianSerifTypeface") format("svg");
  /* Legacy iOS */
  font-weight: 400;
}
/* bxslider */
.gallery_slider .gs_item {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
  position: static !important;
}
.gallery_slider .gs_item .slider_title {
  position: absolute;
  bottom: 0;
  width: 891px;
  height: 65px;
  line-height: 65px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}
.gallery_slider .gs_item img {
  margin: auto;
  max-height: 515px;
  width: auto;
}

.bx-wrapper .bx-viewport {
  width: 99% !important;
  height: 515px !important;
  margin: 0 auto !important;
  left: 0 !important;
  border: none !important;
  box-sizing: border-box;
}

.flip_animated {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.flip_animated:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip_animated .flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.flip_animated .flipper .flip_front, .flip_animated .flipper .flip_back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flip_animated .flipper .flip_front {
  z-index: 2;
  transform: rotateY(0deg);
  /* for firefox 31 */
}
.flip_animated .flipper .flip_back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#menu_page {
  height: auto;
}
#menu_page h2 {
  margin-top: 20px;
}
#menu_page .sort_block {
  width: 360px;
  font-family: Merel;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto 50px;
}
#menu_page .sort_block .sort_item {
  margin-right: 0;
}
#menu_page .sort_block .sort_item:nth-of-type(2):hover, #menu_page .sort_block .sort_item:nth-of-type(3):hover {
  color: #3BBFA5;
  cursor: pointer;
}

#dream_dessert {
  height: auto;
}
#dream_dessert h2 {
  margin-bottom: 38px;
}
#dream_dessert .order_dream {
  height: 150px;
  margin: 50px auto 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(/images/dream.png);
  background-size: contain;
}
#dream_dessert .order_dream_btn {
  font-size: 23px;
  color: white;
  width: 340px;
  height: 50px;
  border: 1px solid white;
  border-radius: 1px;
  margin-top: 50px;
}
#dream_dessert .order_dream_btn:hover {
  background: #B4EEDE;
  border: none;
  color: #4D4D4D;
}

#product_info {
  height: auto;
}
#product_info h2 {
  margin-top: 30px;
}
#product_info .product_pic {
  width: 600px;
  height: 450px;
  float: left;
}
#product_info .info {
  position: relative;
  width: 300px;
  height: 450px;
  float: right;
  text-align: left;
  padding-left: 46px;
  box-sizing: border-box;
}
#product_info .info .price {
  font-family: Merel;
  font-weight: 300;
  font-size: 53px;
  line-height: 30px;
}
#product_info .info .desc {
  font-family: PermianSerifTypeface;
  font-size: 16px;
  font-weight: 400;
  margin-top: 60px;
}
#product_info .info .composition {
  text-align: left;
  margin-top: 78px;
}
#product_info .info .order_btn {
  font-size: 16px;
  border: 1px solid #686868;
  border-radius: 1px;
  width: 190px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
#product_info .info .order_btn:hover {
  background: #B4EEDE;
  border: none;
  color: #4D4D4D;
}
#product_info .back {
  text-transform: uppercase;
  font-family: Merel;
  font-weight: 400;
  font-size: 16px;
  float: left;
  margin: 78px 0;
  cursor: pointer;
}

#dream_dessert_sec {
  height: 300px;
}
#dream_dessert_sec h2 {
  margin-top: 20px;
}

#param1, #param2, #param3, #cake_file, #customer_info {
  height: auto;
  width: 600px;
  margin: 0 auto;
}

#param1 {
  border-top: 1px solid #B4EEDE;
}
#param1 h2 {
  margin-top: 40px;
}

#param2 h2 {
  margin-top: 40px;
}

#param3 {
  position: relative;
  overflow: visible;
  padding-bottom: 80px;
}
#param3 h2 {
  margin-top: 40px;
}

.variat_block {
  width: 500px;
  margin: 0 auto 57px;
}
.variat_block label {
  cursor: pointer;
  padding: 10px;
}
.variat_block input:checked + label {
  background: #C6F4E5;
}

.title_block {
  position: absolute;
  width: 106%;
  margin-left: -3%;
  margin-top: 26px;
}

.range_block {
  width: 580px;
  margin: -19px auto 0;
  height: 16px;
  border-left: 1px solid #B4EEDE;
  border-right: 1px solid #B4EEDE;
}
.range_block .range_item {
  width: 150px;
  border-left: 1px solid #B4EEDE;
}

#cake_file h2 {
  margin-bottom: 21px;
}

input[type=file] {
  display: none;
}
input[type=file] + label {
  margin-top: 45px;
  border: 1px solid #B4EEDE;
  font-family: Merel;
  font-size: 16px;
  font-weight: 400;
  width: 200px;
  height: 50px;
  display: inline-block;
  text-transform: uppercase;
  padding: 15px;
  box-sizing: border-box;
}
input[type=file] + label:hover {
  background: #B4EEDE;
  color: #4D4D4D;
}

.chosenFile {
  font-family: Merel;
  font-weight: 400;
  font-size: 16px;
  margin-left: 40px;
}

.ci_item {
  width: 260px;
  height: 50px;
  border: 1px solid #B4EEDE;
  font-family: LeksaPro;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

#cake_params .customer_info h2 {
  margin-top: 80px;
}

#gallery {
  height: auto;
}
#gallery h2 {
  margin-top: 20px;
}
#gallery p {
  margin: 80px auto 50px;
}

.back_to_menu {
  display: block;
  border: 1px solid #686868;
  width: 300px;
  height: 60px;
  font-family: Merel;
  font-weight: 400;
  font-size: 23px;
  padding-top: 4px;
  margin: 0 auto 80px;
}

#contacts {
  width: 600px;
  height: auto;
  margin: 0 auto;
}
#contacts h2 {
  margin-top: 20px;
}
#contacts .contact_block .contact_item {
  width: 298px;
  height: 50px;
  line-height: 50px;
}
#contacts .value {
  font-family: Merel;
  font-weight: 400;
  font-size: 21px;
}
#contacts .socials .fb {
  background: url(/images/socials.png) 0 -31px;
}
#contacts .socials .inst {
  background: url(/images/socials.png) -31px -31px;
}
#contacts .socials .vk {
  background: url(/images/socials.png) -62px -31px;
}
#contacts .socials_block {
  margin: 55px auto;
}

.callback {
  width: 600px;
  margin: 0 auto;
  height: auto;
}
.callback h2 {
  margin-top: 20px;
}

.delivery_form {
  width: 600px;
  margin: 0 auto;
}
.delivery_form h2 {
  margin-top: 20px;
}
.delivery_form .di_item {
  width: 600px;
  height: 50px;
  border: 1px solid #B4EEDE;
  margin: 0 auto 40px;
  font-family: LeksaPro;
  font-size: 20px;
  font-style: italic;
  padding-left: 15px;
  box-sizing: border-box;
}
.delivery_form p.sent {
  font-size: 23px;
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

.delivery_info {
  height: auto;
}

#checkout .toma_table {
  width: 100%;
  border-collapse: collapse;
}
#checkout .toma_table th, #checkout .toma_table td {
  width: 150px;
  min-width: 150px;
}
#checkout .toma_table th[colspan='2'], #checkout .toma_table td[colspan='2'] {
  width: 300px;
  max-width: 300px;
}
#checkout .toma_table th[colspan='3'], #checkout .toma_table td[colspan='3'] {
  width: 450px;
  max-width: 450px;
}
#checkout .toma_table th {
  font-family: LeksaPro;
  font-size: 16px;
  font-style: italic;
  height: 40px;
}
#checkout .toma_table td {
  height: 150px;
}
#checkout .toma_table td.td_img {
  padding: 10px;
}
#checkout .toma_table td.td_count input {
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  border: 2px solid #B0EADA;
}
#checkout .toma_table td.td_price, #checkout .toma_table td.td_count input, #checkout .toma_table td.td_subtotal, #checkout .toma_table td.td_total_txt, #checkout .toma_table td.td_total {
  font-family: Merel;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
#checkout .toma_table td.td_del_type {
  font-family: LeksaPro;
  font-size: 20px;
  font-style: italic;
  text-align: left;
}
#checkout .toma_table td.td_total_txt {
  text-align: right;
}
#checkout .toma_table td img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#checkout .toma_table td p {
  text-align: left;
  margin: 15px 0 15px 10px;
}
#checkout .toma_table td p.name {
  font-family: Merel;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
#checkout .toma_table td p.weight {
  font-family: LeksaPro;
  font-size: 20px;
  font-style: italic;
}
#checkout .toma_table tr {
  border-top: 2px solid #B0EADA;
}
#checkout .toma_table input[type=radio] {
  display: none;
}
#checkout .toma_table input[type=radio] + label {
  cursor: pointer;
  padding: 8px 16px;
  margin-right: 10px;
}
#checkout .toma_table input[type=radio]:checked + label {
  background-color: #C2F0E1;
}
#checkout #place_order {
  border: 1px solid #686868;
  color: #444444;
  width: 300px;
  height: 60px;
  font-family: Merel;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0 80px;
}
#checkout #place_order:hover {
  border: none;
  color: #4D4D4D;
  background-color: #B4EEDE;
}

#home_menu .menu_item {
  cursor: default;
}

.promo, .place_order {
  height: 300px;
}

.fxbx_block {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.fxbx_sp_between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.fxbx_flex_start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.fxbx_flex_start .fxbx_item:nth-child(3n-1) {
  margin-left: 6px;
  margin-right: 6px;
}

.fxbx_sp_around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.fxbx_wrap {
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  flex-wrap: wrap;
}

/*
fxbx
fx_jstf_sp_between
fx_jstf_sp_around
fx_jstf_fx_start
fx_wrp_wrap
*/
ul, h1, h2, p, body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: LeksaPro;
  font-style: italic;
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #444444;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Merel;
  font-weight: 400;
  text-transform: uppercase;
}

input {
  border: none;
  outline: none;
}

input[type=checkbox] {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=submit] {
  background: none;
  border: 1px solid #686868;
  font-family: Merel;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  padding: 4px 0 0 0;
  cursor: pointer;
  margin: 40px auto 40px;
  display: block;
}
input[type=submit]:hover {
  border: none;
  color: #4D4D4D;
  background-color: #B4EEDE;
}

form.validate .ng-invalid {
  background-color: #ffe6e6;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.logo {
  overflow: auto;
}
.logo a {
  display: block;
  width: 170px;
  margin: 40px auto;
}

header {
  overflow: auto;
}
header nav {
  margin-top: 3px;
  margin-bottom: 50px;
}

nav {
  font-family: Merel;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #353535;
  text-transform: uppercase;
  width: 600px;
  margin: 0 auto;
}
nav ul {
  text-align: justify;
  font-size: 4px;
}
nav ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
nav ul li {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  color: #353535;
}
nav ul li:hover {
  color: #3BBFA5;
}
nav ul .menu-active {
  color: #3BBFA5;
}

section {
  text-align: center;
  overflow: hidden;
}
section h2 {
  font-family: Merel;
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  margin: 80px 0 47px;
  text-transform: uppercase;
}
section p {
  font-family: PermianSerifTypeface;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  width: 600px;
  margin: 0 auto;
}

.promo {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/promo.jpg);
  background-size: contain;
  color: white;
}
.promo h1 {
  font-family: Merel;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-top: 95px;
  margin-bottom: 40px;
}

.menu {
  height: 600px;
}
.menu .menu_block {
  height: auto;
}
.menu .menu_block .menu_item {
  position: relative;
  height: 300px;
  width: 296px;
  cursor: pointer;
  margin-bottom: 4px;
}
.menu .menu_block .menu_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .menu_block .menu_item .fading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.menu .menu_block .menu_item .content_back p {
  width: 100%;
  color: white;
  position: absolute;
  z-index: 2;
}
.menu .menu_block .menu_item .content_back p.p_name {
  font-family: LeksaPro;
  font-style: italic;
  font-size: 20px;
  top: 50px;
}
.menu .menu_block .menu_item .content_back p.p_price {
  font-family: Merel;
  font-weight: 300;
  font-size: 30px;
  top: 100px;
}
.menu .menu_block .menu_item .content_back button {
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 190px;
  height: 50px;
  color: white;
  z-index: 2;
}
.menu .menu_block .menu_item .content_back button:hover {
  background-color: #B0EADA;
  border: none;
  color: #4D4D4D;
}
.menu .menu_block .menu_item .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 47px;
  color: white;
  background: rgba(0, 0, 0, 0.61);
  line-height: 47px;
  border-top: 1px solid #686868;
}
.menu .more {
  border: 1px solid #686868;
  border-radius: 1px;
  width: 190px;
  height: 50px;
  font-size: 18px;
  margin-top: 48px;
  color: #444444;
}
.menu .more:hover {
  background: #B4EEDE;
  border: none;
  color: #4D4D4D;
}

.place_order h2 {
  margin-top: 30px;
}

footer {
  height: 150px;
  background: #333333;
  overflow: auto;
}
footer nav {
  width: 440px;
  margin-top: 39px;
}
footer nav li {
  color: #808080;
}
footer nav li:hover {
  color: #A8CCC8;
}
footer .socials .fb {
  background: url(/images/socials.png) 0 0;
}
footer .socials .fb:hover {
  background-position: 0 -31px;
}
footer .socials .inst {
  background: url(/images/socials.png) -31px 0;
}
footer .socials .inst:hover {
  background-position: -31px -31px;
}
footer .socials .vk {
  background: url(/images/socials.png) -62px 0;
}
footer .socials .vk:hover {
  background-position: -62px -31px;
}

.socials {
  width: 200px;
  overflow: auto;
  margin: 20px auto 0;
}
.socials .social {
  width: 31px;
  height: 31px;
  display: inline-block;
  cursor: pointer;
}

.form_textarea {
  border: 1px solid #C6F4E5;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100%;
  height: 115px;
  resize: vertical;
  margin-bottom: 0;
  outline: none;
}

.form_success p {
  margin-top: 0;
}

.customer_info {
  width: 600px;
  margin: 0 auto;
}
.customer_info h2 {
  margin-top: 20px;
}
