input[type=checkbox] {
  // don't show checkboxes
  display: none;
  &:checked + label {
    background: #C6F4E5;
  }
  & + label {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    width: 142px;
    height: 100px;
    box-sizing: border-box;
    @include col-vertical-align();
  }
}